:root {
  --speed: 3s;
  --randomPos1: 0px;
  --randomPos2: 0px;
  --randomPos3: 0px;
  --randomPos4: 0px;
  --randomPos5: 0px;
  /* --randomPos6: 0px;
  --randomPos7: 0px;
  --randomPos8: 0px;
  --randomPos9: 0px;
  --randomPos10: 0px; */
}

html {
  padding: 15px 15px;
  box-sizing: border-box;
  /* border: 40px ridge rgba(177, 49, 139, 1); */
  border-radius: 25px;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}
.node-food {
  animation-name: viber;
  animation-duration: var(--speed);
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes viber {
  0% {
    transform: translate(var(--randomPos1), var(--randomPos5));
  }

  20% {
    transform: translate(var(--randomPos2), var(--randomPos4));
  }

  40% {
    transform: translate(var(--randomPos3), var(--randomPos3));
  }

  60% {
    transform: translate(var(--randomPos4), var(--randomPos2));
  }
  80% {
    transform: translate(var(--randomPos5), var(--randomPos1));
  }
  100% {
    transform: translate(var(--randomPos1), var(--randomPos5));
  }
}

span:hover {
  transform: scale(1.7);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 2.37, 0.62, -0.64);
}
